:root,
:root.light {
  --bg-color: #EFEFEF;
  --text: #123;
  --main: #1DB954;
  --secondary: #191414;
  --tertiary: #191414;
}
:root.dark {
  --bg-color: #191414;
  --text: #fff;
  --main: #1DB954;
  --secondary: #fff;
  --tertiary: #fff;
}

body {
  font-family: 'Nunito', serif;
  color: var(--text);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
}

a {
  color: var(--main);
}